#snack-bar {
  opacity: 0;
  transition: opacity 600ms linear;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 56px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 13px 24px;
  box-sizing: border-box;

  user-select: none;
  border-radius: 32px;
  background-color: rgba(8, 9, 15, 0.75);
  font-family: "TBCXRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

#snack-bar:lang(en)::before {
  content: "Card number was copied";
}

#snack-bar:lang(ka)::before {
  content: "ბარათის ნომერი დაკოპირდა";
}
#snack-bar.show {
  opacity: 1;
}
